[Unit]
Description="Anonsurf Daemon Service"
Before=poweroff.target reboot.target
After=network.target

[Service]
ExecStart=/usr/lib/anonsurf/anondaemon start
ExecReload=/usr/lib/anonsurf/anondaemon restart
ExecStop=/usr/lib/anonsurf/anondaemon stop
RemainAfterExit=yes

ConfigurationDirectory=/etc/
LogsDirectory=/var/log/

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=strict
ReadOnlyDirectories=/
ReadWritePaths=/etc/resolv.conf
ReadWritePaths=/etc/resolv.conf.bak
ReadOnlyPaths=/etc/anonsurf/torrc.base
ReadWritePaths=/etc/anonsurf/nyxrc
ReadWritePaths=/etc/tor/torrc
ReadWritePaths=/etc/tor/torrc.bak

[Install]
WantedBy=default.target