Package: anonsurf
Version: 1.3.1-4
Architecture: all
Maintainer: Lorenzo EclipseSparl Faletra <eclipse@frozenbox.org>
Installed-Size: 111
Depends: tor, i2p
Recommends: parrot-menu, parrot-anon
Suggests: vidalia
Includes: parrot-anon (<< 0.6)
Section: metapackages
Priority: optional
Description: AnonSurf
 A simple bash script that anonymizes the whole system under TOR network using IPTables
