Source: anonsurf
Section: parrot
Priority: optional
Maintainer: Parrot Team <parrot-devel@lists.parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>,
           Lisetta "Sheireen" Ferrero <sheireen@frozenbox.org>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: pkg-config
Homepage: http://www.parrotsec.org/

Package: anonsurf
Architecture: all
Priority: optional
Depends: bash, iptables, tor
Recommends: i2p, freenet, gnunet-gtk, gnunet, parrot-core, parrot-menu, parrot-anon
Suggests: vidalia
Description: AnonSurf
 Anonymizaton toolkit for Parrot Security OS
