Source: anonsurf
Section: parrot
Priority: optional
Maintainer: Parrot Team <team@parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
           Lisetta "Sheireen" Ferrero <sheireen@autistiche.org>
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: pkg-config
Homepage: https://www.parrotsec.org/

Package: anonsurf
Architecture: all
Priority: optional
Depends: bash, iptables, nftables, tor
Recommends: libnotify-bin, i2p, onioncircuits, connect-proxy, onionshare, torsocks, tor-geoipdb, parrot-menu
Suggests: gnunet-gtk, gnunet, vidalia
Description: AnonSurf
 Anonymizaton toolkit for Parrot Security OS
