#!/usr/bin/make -f

%:
	dh $@ --with bash-completion
# override_dh_auto_configure:
# 	nimble install gintro
override_dh_installsystemd:
	dh_installsystemd --no-enable
override_dh_auto_build:
	make build-parrot
# Install apparmor
# Learned from Tor rule
# override_dh_install-arch:
# 	dh_apparmor --profile-name=usr.bin.anonsurf -panonsurf