#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=menuexecg "anonsurf change"
Name=change exit node
Comment=Select the exit country to use
Icon=reload
Categories=anonsurf;

