#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=menuexecg "anonsurf start"
Name=Anonsurf Start
Icon=stock_media-play
Categories=anonsurf;
