[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=menuexecg dnstool
Name=Set/Fix DNS settings
Comment=Set DNS address[es] and fix DNS problems.
Icon=network-server
Categories=anonsurf;
