[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/anonsurf changeid
Name=Change exit node
Comment=Changes Tor node giving us new IP address
Icon=reload
Categories=anonsurf;