[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=anonsurf myip
Name=Check IP address
Comment=Print the current IP address
Icon=network-server
Categories=anonsurf;
