[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=anonsurf ip
Name=check IP
Comment=Print the current IP address
Icon=network-server
Categories=anonsurf;
